.DS_Store
node_modules

# local env files
.env.local
.env.*.local

/docs

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# lock files
package-lock.json
yarn.lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
