* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  color: #444;
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;   
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
  padding: 0;
}
.link {
  cursor: pointer;
  color: $themeColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }    
}
p {
  margin: 14px 0;
  font-size: 14px;
}
#app {
  display: flex;
  flex-direction: column;
}
.page-header {
  flex-shrink: 0;
  height: 48px;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdfe6;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #24292e;
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  .left {
    width: 1440px;
    font-size: 22px;
    padding: 5px 0;
    flex-shrink: 0;
    margin: 0 auto;
  }
  .logo {
    width: 18px;
    cursor: pointer;
    position: relative;
    top: 2px;;
  }
  .title {
    padding: 0 0.4em;
    font-weight: 700;
    color: #fff;
  }
}
.page-container {
  width: 1440px;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;

  .aside {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    user-select: none;
    padding-top: 10px;
    border-right: 1px solid #dcdfe6;
  }

  .search{
    width: 260px;
    margin: 25px auto;
  } 

  .nav-menu{
    width: 300px;
    padding: 0 0 20px 40px;

    .nav-item{
      display: block;
      height: 40px;
      color: #444;
      line-height: 40px;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      cursor: pointer;

      &.title{
       font-size: 16px;
       color: #333;
       line-height: 60px;
       height: 60px;
       font-weight: bold;
      }

      &.active {
        color: #409eff;
      }
    }
  }
  .content{
    width: 100%;
    margin: 5px 20px 30px;

    h2{
      margin: 30px 0 .8em;
      padding-bottom: .7em;
      border-bottom: 1px solid #ddd;
    }
    p.tip{
      padding: 12px 24px 12px 30px;
      margin: 10px 0;
      background-color: #f8f8f8;
      border-left: 4px solid #409eff;
      font-size: 14px;
    }
  }
}